body {
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0; }

.main-wrapper {
  max-width: 1920px; }

.second-wrapper {
  max-width: 1580px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.backgound_ocean {
  background-image: url("../../img/img-home-header2.jpg");
  object-fit: cover;
  background-repeat: no-repeat; }

.header_logo {
  display: inline-block; }

.header_logo img {
  width: 210px;
  height: 60px;
  padding-top: 45px; }

.header_menu {
  float: right;
  padding-top: 45px; }

.lista-header li {
  list-style: none;
  margin-left: 100px;
  font-size: 30px;
  float: left; }

.lista-header a {
  color: white;
  text-decoration: none; }

.lista-header a:hover {
  border-bottom: 2px solid white; }

.main-Title {
  color: white;
  margin-top: 225px; }

.main-Title h1 {
  letter-spacing: 2px; }

.main-Title span {
  font-size: 154px;
  font-weight: lighter; }

.header-button {
  text-align: center;
  margin-top: 250px;
  padding-bottom: 200px; }

.header-button button {
  background-color: #6ab187;
  color: white;
  padding: 20px 50px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer; }

.destinos {
  display: flex;
  margin-top: 80px;
  margin-bottom: 50px; }

.destinos-imagen-1, .destinos-imagen-2, .destinos-imagen-3 {
  background-image: url("../../img/img-home-destino1.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  width: 33.3%;
  height: 364px;
  justify-content: space-between;
  position: relative; }

.destinos-imagen-2 {
  background-image: url("../../img/img-home-destino2.jpg");
  margin-left: 3%; }

.destinos-imagen-3 {
  background-image: url("../../img/img-home-destino3.jpg");
  margin-left: 3%; }

.titulo-destinos {
  padding-top: 80px;
  font-size: 36px;
  font-weight: bold;
  text-align: center; }

.destinos-titulo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 80px;
  left: 39px; }

.destinos-texto {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: 39px;
  bottom: 10px; }

.destinos-boton {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 16px;
  padding: 15px 45px;
  border-radius: 24px;
  border: 1px solid #fff;
  right: 20px;
  bottom: 20px;
  cursor: pointer; }

.destinos-boton:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000; }

.main-room-title {
  text-align: center; }

.main-room-title h3 {
  font-size: 36px;
  margin-bottom: 15px; }

.main-room-title p {
  font-size: 24px; }

.main-room {
  display: flex; }

.main-room_info h2 {
  width: 100%;
  font-size: 45px; }

.main-room_info p {
  width: 70%;
  font-size: 25px;
  padding-bottom: 25px; }

.main-room_info {
  padding-top: 95px;
  width: 50%;
  justify-content: space-between; }

.main-room_img {
  width: 50%;
  justify-content: space-between; }

.main-room_img img {
  width: 775px;
  height: 515px; }

.main-room_info button {
  background-color: #6ab187;
  color: white;
  padding: 15px 45px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer; }

.main-comment-title {
  margin-top: 15px; }

.main-comment-title h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px; }

.main-comment-title p {
  text-align: center;
  font-size: 24px; }

.main-comment-img {
  background-image: url("../../img/_home-comentario.png");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-bottom: 85px; }

.client-img img {
  padding-top: 75px;
  padding-left: 175px;
  width: 245px;
  height: 235px; }

.main-star-icons {
  position: absolute;
  top: 140px;
  right: 400px; }

.main-star-icons img {
  width: 24px;
  height: 24px; }

.main-comment-text {
  position: absolute;
  width: 645px;
  bottom: 0;
  right: 400px;
  padding-bottom: 85px; }

.main-comment-info p {
  color: white; }

.info-date {
  font-size: 16px;
  font-weight: lighter; }

.info-name {
  font-size: 26px;
  font-weight: bold; }

.info-country {
  font-size: 16px;
  font-weight: lighter; }

.info-comment {
  font-size: 24px;
  font-weight: bold; }

.footer {
  background-color: #DE7A22;
  margin-top: 50px; }

.footer-video iframe {
  margin: 70px 0; }

.second-wrapper img {
  max-width: 100%; }

.footer_logo {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 25px;
  margin: 0; }

.footer-text {
  padding-top: 55px;
  padding-left: 160px;
  float: left; }

.footer-contact {
  float: left;
  padding-top: 88px;
  margin-left: 80px; }

.footer-text p {
  color: white;
  margin: 0;
  line-height: 22px; }

.contact-list li {
  list-style: none;
  line-height: 36px; }

.contact-list a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.footer-social-list {
  float: left;
  padding-top: 88px;
  margin-left: 80px; }

.footer-social-list li {
  list-style: none;
  line-height: 36px; }

.footer-social-list a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.social-list li img {
  height: 18px;
  margin-right: 15px; }

.form-email {
  float: right;
  padding-right: 110px;
  padding-top: 96px;
  display: inline-table; }

.form-email p {
  color: white;
  margin-bottom: 28px; }

.form-email input {
  border: 2px solid #9A5729;
  background-color: transparent;
  height: 48px;
  width: 240px; }

.form-email input::placeholder {
  color: white;
  padding-left: 10px; }

.boton {
  background: #9A5729;
  border: none;
  border-radius: 0px 4px 4px 0;
  height: 54px;
  width: 76px;
  color: white;
  padding: 0; }

.destiny-word {
  font-size: 14px; }

.rights p {
  color: white; }

.backgound_ocean {
  background-image: url("../../img/vegas-img-principal.png");
  object-fit: cover;
  background-repeat: no-repeat;
  height: 1080px; }

.header_logo {
  display: inline-block; }

.header_logo img {
  width: 210px;
  height: 60px;
  padding-top: 45px; }

.header_menu {
  float: right;
  padding-top: 45px; }

.lista-header li {
  list-style: none;
  margin-left: 100px;
  font-size: 30px;
  float: left; }

.lista-header a {
  color: white;
  text-decoration: none; }

.lista-header a:hover {
  border-bottom: 2px solid white; }

.tabs {
  max-width: 800px;
  margin: 40px; }

.tabs-tablist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px; }

.tabs-tablist-item {
  display: block;
  padding: 10px 20px;
  color: #999;
  text-decoration: none;
  font-weight: 700;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  border: 1px solid #999; }

.tabs-content {
  padding: 20px;
  border: 1px solid #999; }

/* Estado (clases asignadas por Javascript) */
.js-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000; }

.js-content-hidden {
  display: none; }
