body {
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0; }

a {
  color: #000; }

.main-wrapper {
  max-width: 1920px; }

.second-wrapper {
  max-width: 1580px;
  margin: 0 auto; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

.backgound_ocean {
  background-image: url("../../img/img-home-header2.jpg");
  background-repeat: no-repeat;
  object-fit: cover; }

.header_logo {
  display: inline-block; }

.header_logo img {
  height: 60px;
  padding-top: 45px;
  width: 210px; }

.header_menu {
  float: right;
  padding-top: 45px; }

.lista-header li {
  font-size: 30px;
  float: left;
  list-style: none;
  margin-left: 100px; }

.lista-header a {
  color: white;
  text-decoration: none; }

.lista-header a:hover {
  border-bottom: 2px solid white; }

.main-Title {
  color: white;
  margin-top: 225px; }

.main-Title h1 {
  letter-spacing: 2px; }

.main-Title span {
  font-size: 154px;
  font-weight: lighter; }

.header-button {
  margin-top: 250px;
  padding-bottom: 200px;
  text-align: center; }

.header-button button {
  background-color: #6AB187;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 50px; }

.destinos {
  display: flex;
  margin-top: 80px;
  margin-bottom: 50px; }

.destinos-imagen-1, .destinos-imagen-2, .destinos-imagen-3 {
  background-image: url("../../img/img-home-destino1.jpg");
  background-repeat: no-repeat;
  height: 364px;
  justify-content: space-between;
  position: relative;
  object-fit: cover;
  width: 33.3%; }

.destinos-imagen-2 {
  background-image: url("../../img/img-home-destino2.jpg");
  margin-left: 3%; }

.destinos-imagen-3 {
  background-image: url("../../img/img-home-destino3.jpg");
  margin-left: 3%; }

.titulo-destinos {
  font-size: 36px;
  font-weight: bold;
  padding-top: 80px;
  text-align: center; }

.destinos-titulo {
  bottom: 80px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  left: 39px;
  position: absolute; }

.destinos-texto {
  bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  left: 39px;
  position: absolute; }

.destinos-boton {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 20px;
  border-radius: 24px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 45px;
  position: absolute;
  right: 20px; }

.destinos-boton:hover {
  background-color: white;
  border: 1px solid #000;
  color: #000; }

.main-room-title {
  text-align: center; }

.main-room-title h3 {
  font-size: 36px;
  margin-bottom: 15px; }

.main-room-title p {
  font-size: 24px; }

.main-room {
  display: flex; }

.main-room_info h2 {
  font-size: 45px;
  width: 100%; }

.main-room_info p {
  font-size: 25px;
  width: 70%;
  padding-bottom: 25px; }

.main-room_info {
  justify-content: space-between;
  padding-top: 95px;
  width: 50%; }

.main-room_img {
  justify-content: space-between;
  width: 50%; }

.main-room_img img {
  height: 515px;
  width: 775px; }

.main-room_info button {
  color: white;
  cursor: pointer;
  background-color: #6AB187;
  border-radius: 8px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 45px; }

.main-comment-title {
  margin-top: 15px; }

.main-comment-title h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center; }

.main-comment-title p {
  font-size: 24px;
  text-align: center; }

.main-comment-img {
  background-image: url("../../img/home-comentario.png");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-bottom: 85px; }

.client-img img {
  height: 235px;
  padding-top: 75px;
  padding-left: 175px;
  width: 245px; }

.main-star-icons {
  position: absolute;
  right: 400px;
  top: 140px; }

.main-star-icons img {
  width: 24px;
  height: 24px; }

.main-comment-text {
  bottom: 0;
  padding-bottom: 85px;
  position: absolute;
  right: 400px;
  width: 645px; }

.main-comment-info p {
  color: white; }

.info-date {
  font-size: 16px;
  font-weight: lighter; }

.info-name {
  font-size: 26px;
  font-weight: bold; }

.info-country {
  font-size: 16px;
  font-weight: lighter; }

.info-comment {
  font-size: 24px;
  font-weight: bold; }

.footer {
  background-color: #DE7A22;
  margin-top: 50px; }

.footer-video iframe {
  margin: 70px 0; }

.second-wrapper img {
  max-width: 100%; }

.footer_logo {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0; }

.footer-text {
  float: left;
  padding-top: 55px;
  padding-left: 160px; }

.footer-contact {
  float: left;
  margin-left: 80px;
  padding-top: 88px; }

.footer-text p {
  color: white;
  line-height: 22px;
  margin: 0; }

.contact-list li {
  list-style: none;
  line-height: 36px; }

.contact-list a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

.footer-social-list {
  float: left;
  margin-left: 80px;
  padding-top: 88px; }

.footer-social-list li {
  line-height: 36px;
  list-style: none; }

.footer-social-list a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

.social-list li img {
  height: 18px;
  margin-right: 15px; }

.form-email {
  display: inline-table;
  float: right;
  padding-right: 110px;
  padding-top: 96px; }

.form-email p {
  color: white;
  margin-bottom: 28px; }

.form-email input {
  background-color: transparent;
  border: 2px solid #9A5729;
  height: 48px;
  width: 240px; }

.form-email input::placeholder {
  color: white;
  padding-left: 10px; }

.boton {
  background: #9A5729;
  border: none;
  border-radius: 0px 4px 4px 0;
  color: white;
  height: 54px;
  padding: 0;
  width: 76px; }

.destiny-word {
  font-size: 14px; }

.rights p {
  color: white; }

.background_orange {
  background-color: #DE7A22; }

.main-title-destiny h1 {
  color: white;
  font-size: 80px;
  margin: 0 auto;
  padding: 170px 0 100px;
  text-align: center; }

.titulo-destinos {
  text-align: center; }

.parrafo-destinos {
  font-size: 24px;
  text-align: center; }

.box-destinos a {
  text-decoration: none; }

.box-destinos a:visited {
  color: #000; }

.box-destinos {
  box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.55);
  border-radius: 3.13956px;
  position: relative; }

.box-destinos + .box-destinos {
  margin-left: 20px; }

.box-destinos img {
  height: 225px;
  width: 500px; }

.box-destinos h3 {
  font-size: 36px;
  margin: 0 0 0 25px;
  padding-bottom: 35px; }

.box-destinos button {
  background-color: #6AB187;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 17px 0 0 25px;
  padding: 5px 25px;
  position: absolute; }

.box-destinos button:hover {
  background-color: #20948B; }

.destinos-comments {
  font-size: 18px;
  margin: 25px 0 0 105px;
  position: absolute; }

.destinos-price {
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin: 0 25px;
  padding-bottom: 25px; }

.backgound_ocean-destino {
  background-image: url("../../img/las-vegas-welcome-sign.jpg");
  background-repeat: no-repeat;
  height: 1080px;
  object-fit: cover; }

.Ceasers-Palace {
  background-image: url("../../img/Header Ceasers.jpg");
  background-repeat: no-repeat;
  height: 1080px;
  object-fit: cover;
  width: 100%; }

.header_logo {
  display: inline-block; }

.header_logo img {
  height: 60px;
  padding-top: 45px;
  width: 210px; }

.header_menu {
  float: right;
  padding-top: 45px; }

.lista-header li {
  font-size: 30px;
  float: left;
  list-style: none;
  margin-left: 100px; }

.lista-header a {
  color: white;
  text-decoration: none; }

.lista-header a:hover {
  border-bottom: 2px solid white; }

.tabs {
  margin: 40px;
  max-width: 800px; }

.tabs-title {
  font-size: 100px;
  padding-left: 35px; }

.tabs-tablist {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: -1px;
  padding: 0; }

.tabs-tablist-item {
  background-color: #20948B;
  border-radius: 5px 5px 0 0;
  border: 1px solid #999;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 70px;
  text-decoration: none; }

.tabs-content {
  padding: 20px; }

.tabs-content-item {
  margin-left: 20px; }

.tabs-text {
  font-size: 30px;
  text-align: justify; }

.js-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000; }

.js-content-hidden {
  display: none; }

.hotel-box {
  display: flex; }

.box-hotel {
  box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.55);
  height: 875px;
  justify-content: space-between;
  margin-left: 100px;
  position: relative;
  width: 506px; }

.from {
  bottom: 55px;
  font-size: 18px;
  position: absolute;
  right: 20px; }

.price {
  bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 20px; }

.point {
  background-color: #6AB187;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 25px; }

.box-title {
  font-size: 36px; }

.box-text {
  margin: 0 20px 0 20px;
  width: 465px; }

.box-info {
  font-size: 18px;
  padding-bottom: 60px; }

.box-price {
  right: 25px; }

.gallery-title {
  font-size: 60px;
  text-align: center; }

.gallery-content {
  -webkit-box-shadow: 0px 1px 118px -10px white;
  -moz-box-shadow: 0px 1px 118px -10px white;
  box-shadow: 0px 1px 118px -10px white;
  height: 400px;
  margin-left: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 600px; }

.wrapper-gallery {
  margin-left: 20px; }

.gallery-list {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.gallery-list img:hover {
  -webkit-box-shadow: 0px 1px 118px -10px white;
  -moz-box-shadow: 0px 1px 118px -10px white;
  box-shadow: 0px 1px 118px -10px white; }

.gallery-list li {
  float: left;
  margin-top: 300px;
  width: 250px;
  height: 200px; }

.gallery-list li + li {
  margin-left: 60px; }

.gallery-list-img img {
  height: 200px;
  width: 300px; }

.img-content-hidden {
  filter: blur(0px); }

.img-active {
  filter: blur(5px); }

.img-content-hidden {
  filter: blur(0px); }

.backgound_ocean-destino-2 {
  background-image: url("../../img/tokio-img1.png");
  background-repeat: no-repeat;
  height: 1080px;
  object-fit: cover; }

.backgound_ocean-destino-3 {
  background-image: url("../../img/panama-img-principal.png");
  background-repeat: no-repeat;
  height: 1080px;
  object-fit: cover; }

.background-contact {
  background-image: url("../../img/contact-beach.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 50%; }

.contact {
  display: flex; }

.contact-title {
  color: white;
  font-size: 90px;
  justify-content: space-between;
  margin-left: 70px;
  padding-top: 115px;
  padding-bottom: 45px; }

.contact-title p {
  margin-bottom: 0; }

.contact-CEO p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 15px; }

.contact-CEO {
  position: relative; }

.info-ceo {
  bottom: 45px;
  left: 116px;
  position: absolute; }

.contact-CEO img:nth-child(4) {
  bottom: 56px;
  height: 44px;
  position: absolute;
  right: 60px;
  width: 100px; }

.form {
  justify-content: space-between;
  padding: 65px 0px 0 200px;
  width: 50%; }

.form h2 {
  font-size: 50px; }

.form h3 {
  margin: 0 0 0 10px; }

.form input {
  color: gray;
  background-color: #fcfcfd;
  border: 1px solid #FEA95A;
  height: 40px;
  margin-bottom: 15px;
  width: 343px; }

.form form:last-child {
  height: 50px; }

.form textarea {
  background-color: #fcfcfd;
  border: 1px solid #FEA95A;
  height: 80px;
  width: 343px;
  margin-bottom: 15px; }

.enviar {
  color: white;
  background-color: #FEA95A;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 350px; }

.contactenos {
  margin-top: 100px; }

.backgound_ocean-contact {
  background-image: url("../../img/Home-header.png");
  background-repeat: no-repeat;
  height: 800px;
  object-fit: cover; }

.room-text {
  font-size: 36px; }

.rooms {
  margin-top: 58px; }

.boxs-rooms {
  display: flex;
  position: relative; }

.boxs-rooms-img {
  justify-content: space-between;
  width: 60%; }

.boxs-rooms-info h4 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 24px; }

.boxs-rooms-info {
  box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.55);
  justify-content: space-between;
  width: 40%; }

.rooms-star {
  margin-left: 24px;
  width: 120px; }

.button-room-1 {
  color: white;
  background-color: #6AB187;
  border: none;
  margin-left: 10px;
  padding: 5px 30px;
  border-radius: 4px; }

.button-room-2 {
  background-color: white;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  color: #007AE9;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 30px;
  padding: 7px 5px; }

.button-room-3 {
  background-color: white;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  color: #007AE9;
  font-weight: bold;
  margin-top: 10px;
  padding: 7px 20px; }

.button-room-4 {
  background-color: #6AB187;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 40px;
  padding: 25px 250px; }

.rooms-info {
  color: #6E798C;
  margin-left: 24px;
  margin-top: 40px; }

.rooms-savings {
  color: #6AB187;
  font-weight: bold;
  text-align: center; }

.room-valor span {
  font-size: 48px; }

.room-valor {
  font-weight: bold;
  right: 20px;
  position: absolute;
  top: 100px; }

.room-icons {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 100px; }
