// Comentario de clientes title

.main-comment-title {
  margin-top: 15px;
}

.main-comment-title h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.main-comment-title p {
  font-size: 24px;
  text-align: center;
}

//Background img

.main-comment-img {
  background-image: url("../../img/home-comentario.png");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-bottom: 85px;
}

.client-img img {
  height: 235px;
  padding-top: 75px;
  padding-left: 175px;
  width: 245px;
}


//Iconos de estrellas

.main-star-icons {
  position: absolute;
  right: 400px;
  top: 140px;
}
.main-star-icons img {
  width: 24px;
  height: 24px;
}


//Informacion

.main-comment-text {
  bottom: 0;
  padding-bottom: 85px;
  position: absolute;
  right: 400px;
  width: 645px;
}

.main-comment-info p {
  color: $white;
}

.info-date {
  font-size: 16px;
  font-weight: lighter;
}

.info-name {
  font-size: 26px;
  font-weight: bold;
}

.info-country {
  font-size: 16px;
  font-weight: lighter;
}

.info-comment {
  font-size: 24px;
  font-weight: bold;
}

