body{
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0;
}

a{color: #000;}

.main-wrapper{
  max-width: 1920px;
}

.second-wrapper{
  max-width: 1580px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
