// VARIABLES GLOBALES

$verde-menta: #6AB187;
$verde-turqueza: #20948B;
$naranja: #DE7A22;
$cafe: #9A5729;
$amarillo: #F4CC70;
$fuente: 'Abhaya Libre', serif;
$white: white;
$gris: gray;
$input-color: #fcfcfd;
$input-border: #FEA95A;
$ancore-color: #000;
$border-box: #D7D8D9;
$text-box-color: #007AE9;
$box-info: #6E798C;
