.backgound_ocean{
  background-image: url("../../img/img-home-header2.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

.header_logo{
  display: inline-block;
}

.header_logo img{
  width: 210px;
  height: 60px;
  padding-top: 45px;
}

.header_menu {
  float: right;
  padding-top: 45px;
}

.lista-header li{
  list-style: none;
  margin-left: 100px;
  font-size: 30px;
  float: left;
}

.lista-header a{
  color: white;
  text-decoration: none;
}

.lista-header a:hover{
  border-bottom: 2px solid white;
}

.main-Title{
  color: white;
  margin-top: 225px;
}

.main-Title h1{
  letter-spacing: 2px;
}

.main-Title span{
  font-size: 154px;
  font-weight: lighter;
}

.header-button{
  text-align: center;
  margin-top: 250px;
  padding-bottom: 200px;
}


.header-button button{
  background-color: #6ab187;
  color: white;
  padding: 20px 50px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
