//Comentario de clientes title

.main-comment-title{
  margin-top: 15px;
}

.main-comment-title h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main-comment-title p {
  text-align: center;
  font-size: 24px;
}

//Background img

.main-comment-img {
  background-image: url("../../img/_home-comentario.png");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-bottom: 85px;
}

.client-img img {
  padding-top: 75px;
  padding-left: 175px;
  width: 245px;
  height: 235px;
}


//Iconos de estrellas

.main-star-icons {
  position: absolute;
  top: 140px;
  right: 400px;
}
.main-star-icons img {
  width: 24px;
  height: 24px;
}


//Informacion

.main-comment-text{

  position: absolute;
  width: 645px;
  bottom: 0;
  right: 400px;
  padding-bottom: 85px;
}

.main-comment-info p {
  color: white;
}

.info-date{

  font-size: 16px;
  font-weight: lighter;
}

.info-name{

  font-size: 26px;
  font-weight: bold;
}

.info-country{

  font-size: 16px;
  font-weight: lighter;
}

.info-comment{
  font-size: 24px;
  font-weight: bold;
}

