.desti-site-map{
  padding-left: 50px;
  padding-top: 20px;
}
.desti-site-map a{
  color: $verde-turqueza;
  font-size:25px;
  text-decoration: none;

}

.desti-site-map a:hover{
  border-bottom: 2px solid $verde-turqueza;
}


.desti-site-map a + a::before{
  content: " / ";
}
