// ESTILOS A LOS TABS

.tabs {
  margin: 40px;
  max-width: 800px;
}

.tabs-title {
  font-size: 100px;
  padding-left: 35px;
}

.tabs-tablist {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
}

.tabs-tablist-item {
  background-color: #20948B;
  border-radius: 5px 5px 0 0;
  border: 1px solid #999;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 70px;
  text-decoration: none;
}

.tabs-content {
  padding: 20px;

}

.tabs-content-item {
  margin-left: 20px;
}

.tabs-text {
  font-size: 30px;
  text-align: justify;
}



.js-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}

.js-content-hidden {
  display: none;
}

.hotel-box {
  display: flex;
}

.box-hotel {
  box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.55);
  height: 875px;
  justify-content: space-between;
  margin-left: 100px;
  position: relative;
  width: 506px;
}

.from {
  bottom: 55px;
  font-size: 18px;
  position: absolute;
  right: 20px;
}

.price {
  bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.point {
  background-color: #6AB187;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 25px;
}

.box-title {
  font-size: 36px;
}

.box-text {
  margin: 0 20px 0 20px;
  width: 465px;
}

.box-info {
  font-size: 18px;
  padding-bottom: 60px;
}

.box-price {
  right: 25xp;
}
